<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Troy Vassalotti | {{ title }}</title>

    <style>
        {% include 'style.css' %}
    </style>

    <link rel="canonical" href="{{ website }}">
    <meta name="description" content="{{ description }}">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="article">
    <meta name="og:title" content="{{ title }}">
    <meta name="og:description" content="{{ description }}">
    <meta name="og:site_name" content="{{ domain }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:creator" content="{{ meta.twitter }}">

    <!-- Web Monetization -->
    <meta name="monetization" content="$ilp.uphold.com/XqbEkDnhpZ29">
    <link rel="monetization" href="https://ilp.uphold.com/XqbEkDnhpZ29">
</head>
<body>
{{ content | safe }}
</body>
</html>
