@font-face {
  font-family: "Native";
  src: url("/static/fonts/native/Native-Light.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 300;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Native";
  src: url("/static/fonts/native/Native-Regular.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/dm-sans-v15-latin-regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/static/fonts/dm-sans-v15-latin-italic.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/dm-sans-v15-latin-700.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-display: swap;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/dm-serif-display-v15-latin-regular.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@layer reset, base, utilities;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }

  body {
    line-height: 1.5;
    min-block-size: 100dvh;
    text-rendering: optimizeSpeed;
    word-wrap: anywhere;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  img,
  picture {
    display: block;
    max-inline-size: 100%;
  }

  ul[role="list"],
  ol[role="list"] {
    list-style: none;
    padding: 0;
  }

  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  }
}

@layer base {
  html {
    --monospace: "Native", monospace;
    --headlines: "DM Serif Display", Charter, "Bitstream Charter", "Sitka Text",
      Cambria, serif;
    --body: "DM Sans", system-ui;
    --color-dark: hsl(0, 0%, 5%);
    --color-light: hsl(0, 0%, 35%);
    --primary-color: hsl(349, 100%, 50%);
    --eerie-black: #191716ff;
    --xanthous: #e6af2eff;
    --alabaster: #e0e2dbff;
    --tekhelet: #3d348bff;
    --khaki: #beb7a4ff;

    /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326cqi, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087cqi, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174cqi, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696cqi, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793cqi, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651cqi, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504cqi, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658cqi, 3.8147rem);

    /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,xl,12 */
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0cqi, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087cqi, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8533rem + 0.1087cqi, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0815rem + 0.2174cqi, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6223rem + 0.3261cqi, 1.875rem);
    --space-l: clamp(2.25rem, 2.163rem + 0.4348cqi, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2446rem + 0.6522cqi, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696cqi, 5rem);
    --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043cqi, 7.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435cqi, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522cqi, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522cqi, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043cqi, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413cqi, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087cqi, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261cqi, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174cqi, 7.5rem);
  }

  body {
    color: var(--color-dark);
    font-family: var(--body);
    font-size: var(--step-0);
  }

  h1,
  h2,
  h3,
  h4 {
    color: var(--color-dark);
    font-family: var(--headlines);
    line-height: 1.1;
  }

  .resume-container {
    column-gap: var(--space-s);
    display: grid;
    padding: var(--space-s);
    row-gap: var(--space-l);

    .section-header {
      border-block-end: 1px solid var(--color-dark);
      font-size: var(--step-3);
      line-height: 1.5;
      margin-block-end: var(--space-s);
    }

    :is(a, .print-this) {
      --lightness: 40%;
      --link-color: hsl(222, 100%, var(--lightness));
      --transition: 0.2s ease;

      color: var(--link-color);
      transition: color var(--transition);

      &:hover {
        --lightness: 70%;
      }

      svg {
        fill: var(--link-color);
        transition: fill var(--transition);
      }
    }

    .print-this {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      text-decoration: underline;
    }

    :is(ul, ol):not([role]) {
      padding-inline-start: 1rem;
    }

    ul:not([class]) li::marker {
      color: var(--primary-color);
    }

    .header {
      h1 {
        font-size: var(--step-5);
      }

      .p-gender-identity {
        color: var(--color-light);
        font-size: var(--step--1);
        font-style: italic;
      }

      .h-card {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-m);
        justify-content: center;
      }

      .p-contact {
        column-gap: var(--space-xs);
        display: flex;
        flex-wrap: wrap;
      }

      .links {
        font-size: var(--step--1);
      }

      .contact-info,
      .social-media {
        display: contents;
      }
    }

    .main {
      display: flex;
      flex-direction: column;
      row-gap: var(--space-l);

      .experience {
        grid-area: experience;
      }

      .education {
        grid-area: education;
      }

      .skills {
        grid-area: skills;
      }

      .certifications {
        grid-area: certifications;
      }

      .interests {
        grid-area: interests;
      }
    }

    .icon-link {
      align-items: center;
      display: flex;
      gap: 0.5ch;
      inline-size: fit-content;
      padding-block: var(--space-3xs);
    }

    .entrylist {
      display: flex;
      flex-direction: column;
      gap: var(--space-m);

      .entry-header {
        align-items: start;
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-2xs);
        justify-content: space-between;
      }
    }

    .h-event {
      --flow-space: var(--space-s);

      .dates {
        font-family: var(--monospace);
        font-size: var(--step--2);
      }

      h3.p-name {
        margin-block-end: var(--space-3xs);
      }

      .p-org {
        font-size: var(--step--1);
        font-style: italic;
      }
    }
  }

  @media (min-width: 1100px) {
    .resume-container {
      grid-template-columns: 33cqi 1fr;
      position: relative;

      .header {
        block-size: 100%;

        .h-card {
          justify-content: start;
          inset-block-start: 25%;
          position: sticky;
        }

        .p-contact {
          flex-direction: column;
        }
      }

      .main {
        column-gap: var(--space-m);
        display: grid;
        grid-template-areas:
          "experience experience experience"
          "education education education"
          "skills certifications certifications"
          "interests interests interests";

        li {
          max-inline-size: 70ch;
        }
      }
    }
  }

  @media print {
    @page {
      size: letter;
    }

    *::before,
    *::after {
      display: none;
    }

    html {
      font-size: 8pt;
    }

    .resume-container {
      display: flex;
      flex-direction: column;
      padding: 0;
      row-gap: 0;

      .main {
        column-gap: var(--space-s);
        display: grid;
        grid-template-areas:
          "experience experience experience"
          "education skills certifications"
          "interests interests interests";
      }
    }
  }
}

@layer utilities {
  .flow > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  .showOnPrint {
    display: none;
  }

  @media print {
    .hideOnPrint {
      display: none;
    }

    .showOnPrint {
      display: revert;
    }
  }
}
