@font-face {
  font-family: "Native";
  src: url("/fonts/native/Native-Light.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 300;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Native";
  src: url("/fonts/native/Native-Regular.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@layer reset, base, utilities;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }

  body {
    line-height: 1.5;
    min-block-size: 100dvh;
    text-rendering: optimizeSpeed;
    word-wrap: anywhere;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  body,
  p,
  h1,
  h2,
  h3,
  h4,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
}

@layer base {
  html {
    /* fonts */
    --fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    --monospace: "Native", monospace;

    /* colors */
    --color-dark: hsl(0, 0%, 5%);
    --color-mid: hsl(0, 0%, 25%);
    --color-light: hsl(0, 0%, 35%);
    --primary-color: hsl(349, 100%, 50%);
  }

  body {
    color: var(--color-mid);
    font-family: var(--fallback);
  }

  .resume-container {
    & :is(h1, h2, h3, h4) {
      color: var(--color-dark);
      font-weight: 500;
    }

    & h1 {
      font-size: 3rem;
    }

    & h2 {
      font-size: 2.25rem;
      border-block-end: 1px solid black;
    }

    & h3 {
      font-size: 1.25rem;
    }

    & :is(a, .print-this button) {
      --lightness: 40%;
      --link-color: hsl(222, 100%, var(--lightness));
      --transition: 0.2s ease;
      color: var(--link-color);
      transition: color var(--transition);
    }

    & :is(a, .print-this button):hover {
      --lightness: 70%;
    }

    & :is(a, .print-this button) svg {
      fill: var(--link-color);
      transition: fill var(--transition);
    }

    & :is(.contact__links, .contact__info, .contact__social) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1ch;
      justify-content: start;
    }

    &
      :is(.contact__links, .contact__info, .contact__social)
      :is(a, .print-this button) {
      align-items: center;
      display: flex;
      inline-size: max-content;
    }

    &
      :is(.contact__links, .contact__info, .contact__social)
      :is(a svg, .print-this button svg) {
      margin-inline-end: 0.5ch;
    }

    & .print-this button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      text-decoration: underline;
    }

    & .contact__links {
      margin-block: 1rem;
    }

    & .meta {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
    }

    & .header {
      padding-block: 2rem;
    }

    & .name {
      align-items: baseline;
      display: flex;
      flex-wrap: wrap;
    }

    & .name h1 {
      margin-inline-end: 0.5ex;
    }

    & .photo {
      border: 3px solid white;
      border-radius: 50%;
      box-shadow: 8px 8px 40px -10px rgba(0, 0, 0, 0.3);
      max-inline-size: 11rem;
      max-block-size: 11rem;
    }

    & .pronouns {
      color: var(--color-light);
      font-style: italic;
    }

    & .my-title {
      font-size: 1.25rem;
      font-weight: 300;
      margin-block-start: 1ex;
      margin-block-end: 0;
    }

    & .container {
      padding-inline: 5%;
    }

    & .entrylist {
      padding-inline-start: 1rem;
      position: relative;
    }

    & .entrylist > * + * {
      margin-block-start: 2rem;
    }

    & .entrylist::before {
      background: #818a91;
      background: linear-gradient(
        to top,
        rgba(129, 138, 145, 0) 0,
        #818a91 100px,
        #818a91 100%
      );
      content: "";
      display: block;
      inline-size: 1px;
      inset-block-start: 2.25rem;
      inset-block-end: 0;
      inset-inline-start: 1rem;
      position: absolute;
    }

    & .entrylist li {
      position: relative;
      padding-inline-start: 1rem;
    }

    & .entrylist li::before {
      background-color: var(--primary-color);
      block-size: 0.625rem;
      border-radius: 50%;
      content: "";
      display: block;
      inline-size: 0.625rem;
      inset-block-start: 2.25rem;
      inset-inline-start: 0;
      position: absolute;
      transform: translate(-50%, 0);
    }

    & .entrylist li .entrylist__header {
      display: flex;
      flex-direction: column;
    }

    & .entrylist li .entry__content {
      max-inline-size: 70ch;
    }

    & .dates {
      color: var(--color-light);
      font-family: var(--monospace);
      order: -1;
    }

    & .organization {
      font-style: italic;
      font-weight: 300;
    }

    & ul:not([class]) li::marker {
      color: var(--primary-color);
    }

    & .skills-certs .certifications li {
      max-inline-size: 60ch;
    }

    @media (min-width: 668px) {
      & :is(.contact__info, .contact__social) {
        flex-direction: row;
      }
    }

    @media print, (min-width: 668px) {
      & .skills-certs {
        display: grid;
        gap: 4rem;
        grid-template-columns: 1fr 1fr;
      }
    }

    @media (min-width: 950px) {
      & {
        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 30% 70%;
        position: relative;
      }

      & .main {
        grid-area: main;
        padding-block: 2rem;
      }

      & .header {
        background-color: rgba(148, 209, 255, 0.2);
        block-size: 100%;
        grid-area: sidebar;
      }

      & .header .container {
        padding-inline-end: 2%;
        position: sticky;
        top: 2rem;
      }
    }

    @media print {
      @page {
        size: letter;
      }

      & {
        font-size: 10pt;
      }

      & .header {
        padding-block-start: 0;
        padding-block-end: 1rem;
      }

      & h1 {
        font-size: 15pt;
      }

      & h2 {
        font-size: 12pt;
      }

      & h3 {
        font-size: 11pt;
      }

      & :is(a, .print-this button) {
        text-decoration: none;
      }

      & .meta {
        justify-content: center;
      }

      & .my-title {
        font-size: 10pt;
      }

      & .contact__links {
        margin-block-end: 0;
        margin-block-start: 0.5rem;
      }

      & :is(.contact__info, .contact__social) {
        flex-direction: row;
        font-size: 7pt;
      }

      & :is(.contact__info, .contact__social) svg {
        max-inline-size: 16px;
      }

      & .entrylist {
        padding-inline-start: 0.5rem;
      }

      & .entrylist > * + * {
        margin-block-start: 1rem;
      }

      & .entrylist li .entry__content {
        max-inline-size: 100%;
      }

      & .additional-info {
        display: flex;
        gap: 1.5rem;
      }

      & .education ol {
        padding: 0;
      }

      & .additional-info h3 {
        font-size: 9pt;
      }

      & .additional-info .dates {
        inline-size: max-content;
      }

      & .skills-certs {
        gap: 1.5rem;
        grid-template-columns: 1fr 2fr;
      }

      & .skills-certs li {
        font-size: 8pt;
      }

      & .photo {
        max-inline-size: 6rem;
        max-block-size: 6rem;
      }

      & .interests ul {
        margin-block-end: 0;
      }
    }
  }

  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  }

  @media print {
    *::before,
    *::after {
      display: none;
    }
  }
}

@layer utilities {
  .bold {
    font-weight: bold;
  }

  .showOnPrint {
    display: none;

    @media print {
      & {
        display: revert;
      }
    }
  }

  @media print {
    .hideOnPrint {
      display: none;
    }
  }
}
