{% include "sprites.html" %}

<div class="h-resume resume-container" role="document">
    <header class="header">
        <div class="container">
            <div class="meta h-card">
                <img src="/img/{{ meta.picture }}" alt="Troy standing in front of a brick wall, posing for a photo."
                     class="photo u-photo hideOnPrint" width="300" height="300" loading="eager" decoding="async">
                <div class="wrapper">
                    <div class="name">
                        <h1 class="p-name">{{ meta.name }}</h1>
                        <p class="pronouns">({{ meta.pronouns }})</p>
                    </div>
                    <p class="my-title">{{ meta.title }} <span aria-hidden="true">·</span> {{ meta.location }}</p>
                    <div class="p-contact contact__links">
                        <div class="contact__info">
                            <a href="mailto:{{ meta.contact.email }}">
                                <svg title="email" role="img" aria-hidden="true" width="24" height="24">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use>
                                </svg>
                                <span class="hideOnPrint">Email Me</span><span
                                        class="showOnPrint">{{ meta.contact.email }}</span>
                            </a>
                            {% if meta.contact.phone %}
                                <a href="tel:{{ meta.contact.phone }}">
                                    <svg title="phone" role="img" aria-hidden="true" width="24" height="24">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xlink:href="#icon-telephone"></use>
                                    </svg>
                                    <span>{{ meta.contact.phone }}</span>
                                </a>
                            {% endif %}
                            <a href="{{ meta.contact.website }}">
                                <svg title="laptop" role="img" aria-hidden="true" width="24" height="24">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-laptop"></use>
                                </svg>
                                <span>{{ meta.contact.website }}</span>
                            </a>
                        </div>
                        <div class="contact__social {% if meta.socials.hideonprint %} hideOnPrint {% endif %}">
                            {% for site, url in meta.socials.accounts %}
                                <a href="{{ url }}">
                                    <svg title="{{ site }}" role="img" aria-hidden="true" width="24" height="24">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xlink:href="#icon-{{ site }}"></use>
                                    </svg>
                                    <span>{{ site | capitalize }}</span>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="print-this hideOnPrint">
                            <button type="button" id="print-this" onclick="window.print()">
                                <svg title="print" role="img" aria-hidden="true" width="24" height="24">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-print"></use>
                                </svg>
                                Print This
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main id="main" class="main">
        <div class="container">
            <section class="experience">
                <h2>Work Experience</h2>
                <ol class="entrylist" role="list" reversed>
                    {% for job in experience | reverse %}
                        <li class="h-event p-experience {% if job.hideonprint %} hideOnPrint {% endif %}">
                            <article>
                                <div class="entrylist__header">
                                    <h3 class="p-name">{{ job.job }}</h3>
                                    <p class="dates">
                                        <time datetime="{{ job.dates.start }}">{{ job.dates.start | mmyyyy }}</time>
                                        - {% if job.dates.end %}
                                            <time
                                            datetime="{{ job.dates.end }}">{{ job.dates.end | mmyyyy }}</time>{% else %}
                                            <span>Present {% if job.partTime %} <span class="job-status">(Part Time)</span>{% endif %}</span>{% endif %}
                                    </p>
                                    <p class="organization p-org h-card">
                                        <a href="{{ job.employer.website }}" class="p-name u-url"
                                           rel="noreferrer nofollow">{{ job.employer.name }}</a> <span
                                                aria-hidden="true">·</span> <span
                                                class="p-location">{{ job.employer.city }}</span>
                                    </p>
                                </div>
                                <div class="entry__content p-summary">
                                    <p>{{ job.responsibilities }}</p>
                                </div>
                            </article>
                        </li>
                    {% endfor %}
                </ol>
            </section>
            <div class="additional-info">
                <section class="education">
                    <h2>Education</h2>
                    <ol class="entrylist" role="list" reversed>
                        {% for item in education %}
                            <li class="h-event p-education">
                                <article>
                                    <div class="entrylist__header">
                                        <h3 class="p-name">{{ item.degree }}</h3>
                                        <p class="dates">
                                            <time datetime="{{ item.dates.start }}">{{ item.dates.start | mmyyyy }}</time>
                                            - {% if item.dates.end %}
                                                <time
                                                datetime="{{ item.dates.end }}">{{ item.dates.end | mmyyyy }}</time>{% else %}
                                                <span>Present</span>{% endif %}
                                        </p>
                                        <p class="organization h-card p-org">
                                            <a href="{{ item.school.website }}" class="p-name u-url"
                                               rel="noreferrer nofollow">{{ item.school.name }}</a> <span
                                                    aria-hidden="true">·</span> <span
                                                    class="p-location">{{ item.school.city }}</span>
                                        </p>
                                    </div>
                                </article>
                            </li>
                        {% endfor %}
                    </ol>
                </section>
                <div class="skills-certs">
                    <section class="skills">
                        <h2>Skills</h2>
                        <ul>
                            {% for skill in skills %}
                                <li class="p-skill">{{ skill }}</li>
                            {% endfor %}
                        </ul>
                    </section>
                    <section class="certifications">
                        <h2>Certifications</h2>
                        <ul>
                            {% for cert in certifications %}
                                <li class="p-skill">
                                    <strong>{{ cert.issuer }}</strong>: {% for type in cert.types %}{{ type }}{% if not loop.last %}, {% endif %}{% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
            </div>
            <section class="interests">
                <h2>Interests</h2>
                {# <p>{{ interests.blurb }}</p> #}
                <ul>
                    {% for link in interests.links %}
                        <li><a href="{{ link.url }}" class="bold"
                               rel="noreferrer nofollow">{{ link.name }}</a>: {{ link.desc }}</li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </main>
</div>