<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Troy Vassalotti | {{ title }}</title>

    <style>
      {% include "style.css" %}
    </style>

    <link rel="canonical" href="{{ website }}" />
    <meta name="description" content="{{ description }}" />
    <meta name="og:locale" content="en_US" />
    <meta name="og:type" content="article" />
    <meta name="og:title" content="{{ title }}" />
    <meta name="og:description" content="{{ description }}" />
    <meta name="og:site_name" content="{{ domain }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
  </head>
  <body class="h-resume resume-container">
    {% include "sprites.html" %} {% from "macros.html" import social_link %}

    <header class="header container">
      <div class="meta h-card">
        <img
          src="/static/img/{{ meta.picture }}"
          alt="Me in the park, posing for a photo."
          class="photo u-photo hideOnPrint"
          width="300"
          height="300"
          loading="eager"
          decoding="async"
        />
        <div class="wrapper">
          <div class="name">
            <h1 class="p-name">{{ meta.name }}</h1>
            <p class="pronouns">({{ meta.pronouns }})</p>
          </div>
          <p class="my-title">
            {{ meta.title }} <span aria-hidden="true">·</span> {{ meta.location
            }}
          </p>
          <div class="p-contact contact__links">
            <div class="contact__info">
              <a href="mailto:{{ meta.contact.email }}">
                <svg aria-hidden="true" width="24" height="24">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#icon-email"
                  ></use>
                </svg>
                <span class="hideOnPrint">Email Me</span
                ><span class="showOnPrint">{{ meta.contact.email }}</span>
              </a>
              {% if meta.contact.phone %}
              <a href="tel:{{ meta.contact.phone }}">
                <svg aria-hidden="true" width="24" height="24">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#icon-telephone"
                  ></use>
                </svg>
                <span>{{ meta.contact.phone }}</span>
              </a>
              {% endif %}
              <a href="{{ meta.contact.website }}">
                <svg aria-hidden="true" width="24" height="24">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#icon-laptop"
                  ></use>
                </svg>
                <span>{{ meta.contact.website }}</span>
              </a>
            </div>
            <div
              class="contact__social {% if meta.socials.hideonprint %} hideOnPrint {% endif %}"
            >
              {{ social_link("github", meta.socials.accounts.github) }} {{
              social_link("linkedin", meta.socials.accounts.linkedin) }}
            </div>
            <div class="print-this hideOnPrint">
              <button type="button" id="print-this" onclick="window.print()">
                <svg aria-hidden="true" width="24" height="24">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#icon-print"
                  ></use>
                </svg>
                Print This
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main id="main" class="main container">
      <section class="experience">
        <h2 class="section-header">Work Experience</h2>
        <ol class="entrylist" role="list" reversed>
          {% for job in experience | reverse %}
          <li
            class="h-event p-experience {% if job.hideonprint %} hideOnPrint {% endif %}"
          >
            <div class="entrylist__header">
              <h3 class="p-name">{{ job.job }}</h3>
              <p class="dates">
                <time datetime="{{ job.dates.start }}"
                  >{{ job.dates.start | pretty_date }}</time
                >
                - {% if job.dates.end %}
                <time datetime="{{ job.dates.end }}"
                  >{{ job.dates.end | pretty_date }}</time
                >{% else %}
                <span
                  >Present {% if job.partTime %}
                  <span class="job-status">(Part Time)</span>{% endif %}</span
                >{% endif %}
              </p>
              <p class="organization p-org h-card">
                <a
                  href="{{ job.employer.website }}"
                  class="p-name u-url"
                  rel="noreferrer nofollow"
                  >{{ job.employer.name }}</a
                >
                <span aria-hidden="true">·</span>
                <span class="p-location">{{ job.employer.city }}</span>
              </p>
            </div>
            <div class="entry__content p-summary">
              <p>{{ job.responsibilities }}</p>
            </div>
          </li>
          {% endfor %}
        </ol>
      </section>
      <div class="additional-info">
        <section class="education">
          <h2 class="section-header">Education</h2>
          <ol class="entrylist" role="list" reversed>
            {% for item in education %}
            <li class="h-event p-education">
              <div class="entrylist__header">
                <h3 class="p-name">{{ item.degree }}</h3>
                <p class="dates">
                  <time datetime="{{ item.dates.start }}"
                    >{{ item.dates.start | pretty_date }}</time
                  >
                  - {% if item.dates.end %}
                  <time datetime="{{ item.dates.end }}"
                    >{{ item.dates.end | pretty_date }}</time
                  >{% else %} <span>Present</span>{% endif %}
                </p>
                <p class="organization h-card p-org">
                  <a
                    href="{{ item.school.website }}"
                    class="p-name u-url"
                    rel="noreferrer nofollow"
                    >{{ item.school.name }}</a
                  >
                  <span aria-hidden="true">·</span>
                  <span class="p-location">{{ item.school.city }}</span>
                </p>
              </div>
            </li>
            {% endfor %}
          </ol>
        </section>
        <div class="skills-certs">
          <section class="skills">
            <h2 class="section-header">Skills</h2>
            <ul>
              {% for skill in skills %}
              <li class="p-skill">{{ skill }}</li>
              {% endfor %}
            </ul>
          </section>
          <section class="certifications">
            <h2 class="section-header">Certifications</h2>
            <ul>
              {% for cert in certifications %}
              <li class="p-skill">
                <strong>{{ cert.issuer }}</strong>: {% for type in cert.types
                %}{{ type }}{% if not loop.last %}, {% endif %}{% endfor %}
              </li>
              {% endfor %}
            </ul>
          </section>
        </div>
      </div>
      <section class="interests">
        <h2 class="section-header">Interests</h2>
        {#
        <p>{{ interests.blurb }}</p>
        #}
        <ul>
          {% for link in interests.links %}
          <li>
            <a href="{{ link.url }}" class="bold" rel="noreferrer nofollow"
              >{{ link.name }}</a
            >: {{ link.desc }}
          </li>
          {% endfor %}
        </ul>
      </section>
    </main>
  </body>
</html>
