<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Troy Vassalotti | {{ title }}</title>

    <style>
      {% include "style.css" %}
    </style>

    <link rel="canonical" href="{{ website }}" />
    <meta name="description" content="{{ description }}" />
    <meta name="og:locale" content="en_US" />
    <meta name="og:type" content="article" />
    <meta name="og:title" content="{{ title }}" />
    <meta name="og:description" content="{{ description }}" />
    <meta name="og:site_name" content="{{ domain }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
  </head>
  <body class="h-resume resume-container">
    <!-- prettier-ignore -->
    {% from "macros.html" import social_link, interpunct %}

    <!-- prettier-ignore -->
    {% include "sprites.html" %}

    <header class="header container">
      <div class="h-card">
        <img
          src="/static/img/{{ meta.picture }}"
          alt="Me in the park, posing for a photo."
          class="u-photo hideOnPrint"
          width="300"
          height="300"
          loading="eager"
          decoding="async"
        />
        <div class="header__meta-content flow">
          <div class="name">
            <h1 class="p-name">{{ meta.name }}</h1>
            <span class="p-gender-identity color-light italic">
              ({{ meta.pronouns }})
            </span>
          </div>
          <p class="my-title">
            <span class="p-job-title">{{ meta.title }}</span>
            {{ interpunct() }}
            <span class="p-locality">{{ meta.location }}</span>
          </p>
          <nav class="links" aria-label="primary">
            <div class="p-contact">
              <div class="contact-info as-contents">
                <a
                  class="u-email icon-link"
                  href="mailto:{{ meta.contact.email }}"
                >
                  <svg aria-hidden="true" width="24" height="24">
                    <use
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      xlink:href="#icon-email"
                    ></use>
                  </svg>
                  <span class="hideOnPrint">Email Me</span>
                  <span class="showOnPrint">{{ meta.contact.email }}</span>
                </a>

                {% if meta.contact.phone %}
                <a class="p-tel icon-link" href="tel:{{ meta.contact.phone }}">
                  <svg aria-hidden="true" width="24" height="24">
                    <use
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      xlink:href="#icon-telephone"
                    ></use>
                  </svg>
                  <span>{{ meta.contact.phone }}</span>
                </a>
                {% endif %}

                <a class="u-url icon-link" href="{{ meta.contact.website }}">
                  <svg aria-hidden="true" width="24" height="24">
                    <use
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      xlink:href="#icon-laptop"
                    ></use>
                  </svg>
                  <span>{{ meta.contact.website }}</span>
                </a>
              </div>
              <div
                class="social-media as-contents {% if meta.socials.hideonprint %} hideOnPrint {% endif %}"
              >
                <!-- prettier-ignore -->
                {{ social_link("github", meta.socials.accounts.github) }}
              {{ social_link("linkedin", meta.socials.accounts.linkedin) }}
              </div>
            </div>
            <button class="print-this icon-link" onclick="window.print()">
              <svg aria-hidden="true" width="24" height="24">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="#icon-print"
                ></use>
              </svg>
              <span>Print This</span>
            </button>
          </nav>
        </div>
      </div>
    </header>
    <main id="main" class="main container">
      <article class="group experience">
        <h2 class="section-header">Work Experience</h2>
        <ol class="entrylist" role="list" reversed>
          {% for job in experience | reverse %}
          <li
            class="h-event p-experience flow {% if job.hideonprint %} hideOnPrint {% endif %}"
          >
            <div class="entry-header">
              <div class="dates">
                <!-- prettier-ignore -->
                <time class="dt-start" datetime="{{ job.dates.start }}">{{ job.dates.start | pretty_date }}</time>
                -
                <!-- prettier-ignore -->
                {% if job.dates.end %}
                <!-- prettier-ignore -->
                <time class="dt-end" datetime="{{ job.dates.end }}">{{ job.dates.end | pretty_date }}</time>
                {% else %}
                <span>Present</span>
                {% endif %}
              </div>
              <h3 class="p-name">{{ job.job }}</h3>
              <p class="p-org h-card">
                <a
                  href="{{ job.employer.website }}"
                  class="p-name u-url"
                  rel="noreferrer nofollow"
                  >{{ job.employer.name }}</a
                >
                {{ interpunct() }}
                <span class="p-location">{{ job.employer.city }}</span>
              </p>
            </div>
            <p class="p-summary">{{ job.responsibilities }}</p>
          </li>
          {% endfor %}
        </ol>
      </article>
      <article class="group education">
        <h2 class="section-header">Education</h2>
        <ol class="entrylist" role="list" reversed>
          {% for item in education %}
          <li class="h-event p-education flow">
            <div class="entry-header">
              <div class="dates">
                <!-- prettier-ignore -->
                <time class="dt-start" datetime="{{ item.dates.start }}">{{ item.dates.start | pretty_date }}</time>
                -
                <!-- prettier-ignore -->
                {% if item.dates.end %}
                <!-- prettier-ignore -->
                <time class="dt-end" datetime="{{ item.dates.end }}">{{ item.dates.end | pretty_date }}</time>
                {% else %}
                <span>Present</span>
                {% endif %}
              </div>
              <h3 class="p-name">{{ item.degree }}</h3>
              <p class="h-card p-org">
                <a
                  href="{{ item.school.website }}"
                  class="p-name u-url"
                  rel="noreferrer nofollow"
                  >{{ item.school.name }}</a
                >
                {{ interpunct() }}
                <span class="p-location">{{ item.school.city }}</span>
              </p>
            </div>
          </li>
          {% endfor %}
        </ol>
      </article>
      <article class="group skills">
        <h2 class="section-header">Skills</h2>
        <ul>
          {% for skill in skills %}
          <li class="p-skill">{{ skill }}</li>
          {% endfor %}
        </ul>
      </article>
      <article class="group certifications">
        <h2 class="section-header">Certifications</h2>
        <ul>
          {% for cert in certifications %}
          <li class="p-skill">
            <strong>{{ cert.issuer }}</strong>: {% for type in cert.types %}{{
            type }}{% if not loop.last %}, {% endif %}{% endfor %}
          </li>
          {% endfor %}
        </ul>
      </article>
      <article class="group interests">
        <h2 class="section-header">Interests</h2>
        <ul>
          {% for link in interests.links %}
          <li>
            <a href="{{ link.url }}" class="bold" rel="noreferrer nofollow"
              >{{ link.name }}</a
            >: {{ link.desc }}
          </li>
          {% endfor %}
        </ul>
      </article>
    </main>
  </body>
</html>
